//匯入定義基礎距離
@import '../base/_distance.scss';
@import '../base/_size.scss';

@for $s from 1 through length($size) {
  //$size 有幾個項目，就跑幾次迴圈

  .p-#{nth($size, $s)} {
    padding: nth($distance, $s) !important;
  }
}

@for $s from 1 through length($size) {
  //$size 有幾個項目，就跑幾次迴圈

  .pt-#{nth($size, $s)} {
    padding-top: nth($distance, $s) !important;
  }
}

@for $s from 1 through length($size) {
  //$size 有幾個項目，就跑幾次迴圈

  .pl-#{nth($size, $s)} {
    padding-left: nth($distance, $s) !important;
  }
}

@for $s from 1 through length($size) {
  //$size 有幾個項目，就跑幾次迴圈

  .pr-#{nth($size, $s)} {
    padding-right: nth($distance, $s) !important;
  }
}

@for $s from 1 through length($size) {
  //$size 有幾個項目，就跑幾次迴圈

  .pb-#{nth($size, $s)} {
    padding-bottom: nth($distance, $s) !important;
  }
}
