<button mat-button class="mb-sm" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
    返回
</button>
<mat-card *ngIf="novel" class="mb-sm">
    <mat-card-title>{{novel.name | novelTranslate}}</mat-card-title>
    <mat-card-subtitle *ngIf="novel.writer">作者：{{novel.writer.name }}</mat-card-subtitle>
</mat-card>
<div *ngIf="novel && novel.chapters">
    <mat-expansion-panel *ngFor="let chapter of novel.chapters" (opened)="openChapter(chapter)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{chapter.title | novelTranslate}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list>
            <button mat-list-item *ngFor="let setion of chapter.setions" (click)="goChapter(setion)">
                {{setion.title | novelTranslate}} </button>
        </mat-action-list>
    </mat-expansion-panel>
</div>