<mat-drawer-container class="app-container">
  <mat-drawer #drawer class="sidenav p-sm" mode="over">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>arrow_back</mat-icon>
    </button>


  </mat-drawer>
  <div class="sidenav-container ">
    <mat-toolbar color="primary">
      <button mat-icon-button mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="ml-sm cursor-pointer" (click)="backHome()">{{title}}</span>
    </mat-toolbar>
    <div class="sidenav-content">
      <div class="sidenav-inner-content ">
        <ng-scrollbar class="scrollbar-cus">
          <div class="p-sm mb-ex-lg">
            <router-outlet></router-outlet>
          </div>
        </ng-scrollbar>
      </div>
    </div>
  </div>
</mat-drawer-container>

<button mat-fab *ngIf="arrowDropUpEnable" color="primary" class="drop-up-btn" (click)="arrowDropUp()">
  <mat-icon>expand_less</mat-icon>
</button>

<mat-progress-bar *ngIf="progressValue !== 0" mode="determinate" [value]="progressValue"></mat-progress-bar>