<button mat-button class="mb-sm" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
  返回
</button>
<mat-card *ngIf="setion">
  <mat-card-title>{{setion.title.original}}</mat-card-title>
  <!-- <mat-card-subtitle>{{setion.novelName.original}} {{setion.episodeName.original}}</mat-card-subtitle> -->

  <mat-card-actions align="end">
    <button mat-button (click)="goTranslator()">前往翻譯</button>
  </mat-card-actions>

</mat-card>
<mat-card *ngIf="setion" class="mt-sm">
  <!-- <div [innerText]="setionContent"></div> -->
  <!-- <div class="p-sm"> -->
  <!-- <div *ngFor="let item of setion.sentences" [innerText]="item | novelTranslate:'\r\n'"></div> -->
  <!-- </div> -->
</mat-card>