<button mat-button class="mb-sm" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
  返回
</button>
<mat-card class="mb-sm">
  <!-- <mat-card-title>{{chapter.name|novelTranslate}}</mat-card-title> -->
  <!-- <mat-card-subtitle>{{chapter.novelName|novelTranslate}} {{chapter.episodeName|novelTranslate}}</mat-card-subtitle> -->
  <mat-card-actions align="end">
    <button mat-button [disabled]="!translateReady">
      <mat-icon>delete</mat-icon>
      清除翻譯
    </button>
    <button mat-button [disabled]="!translateReady" (click)="runTranslator()">
      <mat-icon>sync</mat-icon>
      重新翻譯
    </button>
    <button mat-button [disabled]="!translateReady">
      <mat-icon>done</mat-icon>
      套用翻譯
    </button>
  </mat-card-actions>
</mat-card>
<!-- <table mat-table [dataSource]="chapter.sentences" style="width: 100%;">

  <ng-container matColumnDef="original">
    <th mat-header-cell *matHeaderCellDef> 原文 </th>
    <td mat-cell *matCellDef="let item" width="50%" style="padding-right:3px ;"> {{item.original}} </td>
  </ng-container>


  <ng-container matColumnDef="translate">
    <th mat-header-cell *matHeaderCellDef> 譯文 </th>
    <td mat-cell *matCellDef="let item" width="50%" style="padding-left:3px ;"> {{item.translation}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="novelDataDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: novelDataDisplayedColumns;"></tr>

</table> -->